html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

@font-face{
  font-family: Nepali;
  src: url('../public/fonts/Deepmani.woff2') format("truetype");
  unicode-range: U+00-7F;
}

@font-face {
  font-family: English;
  src: url('../public/fonts/Montserrat.woff2') format("truetype");
}

@font-face {
  font-family: Newari;
  src: url('../public/fonts/ranjana.ttf') format("truetype");
}

@font-face {
  font-family: Hindi;
  src: url('../public/fonts/Deepmani.woff2') format("truetype");
}

.key p:nth-child(1){
  font-family: var(--lang);
  font-size: var(--upperKey);
  font-weight: 400;
}

.key p:nth-child(2){
  font-family: var(--lang);
  font-size: var(--lowerKey);
  font-weight: 300;
}

.key{
  flex: 1;
}

.Backspace{
  flex: 2;
}

.Tab{
  flex: 1.5;
}

.CapsLock{
  flex: 1.75
}

.Enter{
  flex: 2.25;
}

.Shift{
  flex: 2.5;
}

.Control{
  flex: 2;
}

.Alt {
  flex: 1;
}

.Meta{
  flex: 1;
}

.space{
  flex: 8;
}