.header{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 10;
    color: var(--textColor);
    transition-duration: 0.3s;
}

.headerContainer{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-left: 10px;
    font-size: 28px;
}

.description{
    letter-spacing: 1px;
    font-size: 20px;
}