.light{
  --backColor: rgb(215, 232, 247);
  --textColor: #333;
  --keyboardBackground: rgb(204, 226, 245);
  --keyboardBorder: rgb(120, 120, 120);
  --keyboardShadow: rgb(0 0 120 / 40%);
  --keyColor: rgb(234, 241, 248);
  --keyPressColor: #333;
  --keyPressTextColor: white;
  --keyHighlightColor: rgb(255, 173, 243);
  --animation: colorMove 2s ease 0;
  --scoreButton: #333;
}

.dark{
  --backColor: rgb(50, 50, 50);
  --textColor: white;
  --keyboardBackground: rgb(30, 30, 30);
  --keyboardBorder: rgb(135, 135, 135);
  --keyboardShadow: rgb(200 200 200 / 22%);
  --keyColor: rgb(50, 50, 50);
  --keyPressColor: rgb(99, 99, 99);
  --keyPressTextColor: white;
  --keyHighlightColor: rgba(255, 204, 247, 0.5);
  --animation: colorMove 3s ease 0;
  --scoreButton: rgb(135, 135, 135);
}

.color{
  --backColor: rgb(50, 50, 50);
  --textColor: white;
  --keyboardBackground: linear-gradient(to right, rgb(8, 104, 168), rgb(37, 219, 82), rgb(253, 187, 45),rgb(252, 53, 86), rgb(250, 40, 45));
  --keyboardBorder: linear-gradient(to right, rgb(8, 104, 168), rgb(37, 219, 82), rgb(253, 187, 45),rgb(252, 53, 86), rgb(250, 40, 45));
  --keyboardShadow: rgb(200 200 200 / 22%);
  --keyColor: rgb(50, 50, 50);
  --keyPressColor: transparent ;
  --keyPressTextColor: white rgb(252, 53, 86);
  --keyHighlightColor: rgb(129, 48, 118);
  --animation: colorMove 10s ease 0;
  --scoreButton: rgb(172, 172, 172);
}

.container{
  background-color: var(--backColor);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: English;
  transition-duration: 0.3s;
}

.mainBody{
  width: 75%;
  height: 85vh;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.toolBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  color: var(--textColor);
}

.buttonContainer{
  padding: 4px;
  background: var(--keyboardBorder);
  border-radius: 50%;
  transition-duration: 0.3s;
  letter-spacing: 0.75px;
  cursor: pointer;
}

.buttonContainer:hover {
  box-shadow: 0 10px 40px -5px var(--keyboardShadow);
}


.themeButton{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border-style: none;
  text-align: center;
  outline: none;
  background-color: var(--keyColor);
  color: var(--textColor);
  transition-duration: 0.3s;
  font-size: 12px;
  font-family: English;
  font-weight: 600;
  cursor: pointer;
}

.buttonName{
  font-size: 14px;
  letter-spacing: 0.75px;
  font-weight: 400;
}

.information{
  width: 75%;
}

.informationHeader{
  margin: 0px;
  color: var(--textColor);
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

.informationText{
  color: var(--textColor);
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
  margin-bottom: 25px;
}

/* .informationText::first-letter{
  font-size: 36px;
  font-weight: 600;
} */

@keyframes colorMove{
  0% {
    background-position:0% 50%
  }
  50% {
    background-position:100% 50%
  }
  100% {
    background-position:0% 50%
  }
}