#key{
    height: 52.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--keyColor);
    transition-duration: 0.3s;
    border-radius: 2.5px;
    margin: 2px;
    color: var(--textColor);
}

.key{
    flex: 1;
}

.Backspace{
    flex: 2;
}

.Tab{
    flex: 1.5;
}

.CapsLock{
    flex: 1.75
}

.Enter{
    flex: 2.25;
}

.Shift{
    flex: 2.5;
}

.Control{
    flex: 2;
}

.Alt {
    flex: 1;
}

.Meta{
    flex: 1;
}

.space{
    flex: 8;
}