.keyboardLayout{
    background: var(--keyboardBackground);
    background-size: 100% 100%;
    width: 100%;
    border: 2px solid var(--keyboardBorder);
    border-radius: 10px;
    box-shadow: 0 20px 80px -10px var(--keyboardShadow);
    padding: 8px;
    transition-duration: 0.3s;
    animation: var(--animation);
}

.keyboardRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
