.scoreBox{
    display: flex;
    flex-direction: row;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    color: var(--textColor);
    margin: 20px;
}

.buttonContainer{
    padding: 4px;
    background: var(--scoreButton);
    border-radius: 50%;
    letter-spacing: 0.75px;
    transition-duration: 0.3s;
  }
  
  .buttonBox:hover:nth-child(1) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(252, 53, 86);
    background: rgb(252, 53, 86);
  }

  .buttonBox:hover:nth-child(2) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(8, 104, 168);
    background: rgb(10, 117, 189);
  }

  .buttonBox:hover:nth-child(3) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(37, 219, 82);
    background: rgb(37, 219, 82);
  }
  
  .buttonBox:hover:nth-child(4) .svgButtonContainer:first-child{
    box-shadow: 0 0px 60px 0px rgb(252, 152, 22);
    cursor: pointer;
  }

  .buttonBox:hover:nth-child(5) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(240, 82, 213);
    background: rgb(240, 82, 213);
    cursor: pointer;
  }
  
  .buttonBox:hover:nth-child(6) .buttonContainer:first-child{
    box-shadow: 0 0px 60px 0px cyan;
    background: cyan;
    cursor: pointer;
  }
  
  
  .button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: none;
    text-align: center;
    outline: none;
    background-color: var(--keyColor);
    color: var(--textColor);
    transition-duration: 0.3s;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .buttonName{
    font-size: 12px;
    letter-spacing: 0.75px;
    font-weight: 400;
  }

  .svgButtonContainer{
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 50%;
  }

  .svgButton{
    position: relative;
    margin: auto;
    text-align: center;
    width: 90px;
    height: 90px;
    border-style: none;
    text-align: center;
    outline: none;
    background-color: var(--keyColor);
    color: var(--textColor);
    transition-duration: 0.3s;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
  }

  .svgMain {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  .svgCircle {
    stroke-dasharray: 269px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: rgb(252, 152, 22);
    fill: none;
  }

  .svgCircleOn{
    stroke-dasharray: 269px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: rgb(252, 152, 22);
    fill: none;
    animation: countdown 61s linear 1 backwards;
  }

  .Modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 50px 60px;
    border-radius: 50px 2px 50px 2px;
    background-color: rgba(40, 40, 40, 0.8);
    outline: 2px;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.9);
  }

  .modalHeader{
    color: white;
    font-family: English;
    font-size: 28px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  .modalBody{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

  }

  .LangCard{
    width: 180px;
    height: 100px;
    background-color: rgb(65, 65, 65);
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: English;
    box-shadow: 0 3px 10px -10px #aaa;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .LangCard:hover{
    background-color: rgb(85, 85, 85);
    
  }

  .countdownModal{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 0px 60px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(40, 40, 40, 0.8);
    outline: 2px;
  }

  .countdownModalHeader{
    color: teal;
    font-family: English;
    font-size: 100px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 269px;
    }
  }