.scoreBox{
    display: flex;
    flex-direction: row;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    color: var(--textColor);
    margin: 20px;
}

.buttonContainer{
    padding: 4px;
    background: var(--scoreButton);
    border-radius: 50%;
    letter-spacing: 0.75px;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .buttonBox:hover:nth-child(1) .buttonContainer:first-child{
    box-shadow: 0 -10px 60px 0px rgb(252, 53, 86);
    background: rgb(252, 53, 86);
  }
  .buttonBox:hover:nth-child(2) .buttonContainer:first-child{
    box-shadow: 0 -10px 60px 0px rgb(8, 104, 168);
    background: rgb(8, 104, 168);
  }
  .buttonBox:hover:nth-child(3) .buttonContainer:first-child{
    box-shadow: 0 -10px 60px 0px rgb(37, 219, 82);
    background: rgb(37, 219, 82);
  }
  
  
  .button{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border-style: none;
    text-align: center;
    outline: none;
    background-color: var(--keyColor);
    color: var(--textColor);
    transition-duration: 0.3s;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
  }