.scoreBox{
    display: flex;
    flex-direction: row;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    color: var(--textColor);
    margin: 20px;
}

.buttonContainer{
    padding: 4px;
    background: var(--scoreButton);
    border-radius: 50%;
    letter-spacing: 0.75px;
    transition-duration: 0.3s;
  }
  
  .buttonBox:hover:nth-child(1) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(252, 53, 86);
    background: rgb(252, 53, 86);
  }

  .buttonBox:hover:nth-child(2) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(8, 104, 168);
    background: rgb(10, 117, 189);
  }

  .buttonBox:hover:nth-child(3) .buttonContainer:first-child{
    /* box-shadow: 0 0px 30px 0px rgb(37, 219, 82); */
    box-shadow: 0 0px 30px 0px rgb(252, 152, 22);
    background: rgb(252, 152, 22);
  }
  
  .buttonBox:hover:nth-child(4) .svgButtonContainer:first-child{
    box-shadow: 0 0px 70px 0px rgb(37, 219, 82);
    cursor: pointer;
  }

  .buttonBox:hover:nth-child(5) .buttonContainer:first-child{
    box-shadow: 0 0px 30px 0px rgb(240, 82, 213);
    background: rgb(240, 82, 213);
    cursor: pointer;
  }
  
  .buttonBox:hover:nth-child(6) .buttonContainer:first-child{
    box-shadow: 0 0px 60px 0px cyan;
    background: cyan;
    cursor: pointer;
  }
  
  
  .button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: none;
    text-align: center;
    outline: none;
    background-color: var(--keyColor);
    color: var(--textColor);
    transition-duration: 0.3s;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .buttonName{
    font-size: 12px;
    letter-spacing: 0.75px;
    font-weight: 400;
  }

  .svgButtonContainer{
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(37, 219, 82);
  }

  .svgButton{
    position: relative;
    margin: auto;
    text-align: center;
    width: 90px;
    height: 90px;
    border-style: none;
    text-align: center;
    outline: none;
    background-color: var(--keyColor);
    color: var(--textColor);
    transition-duration: 0.3s;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
  }

  .svgMain {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  .svgCircle {
    stroke-dasharray: 269px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: rgb(37, 219, 82);
    fill: none;
  }

  /* .svgCircleOn{
    stroke-dasharray: 269px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: rgb(252, 152, 22);
    fill: none;
    animation: countdown 61s linear 1 backwards;
  } */

  .Modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 50px 60px;
    border-radius: 50px 2px 50px 2px;
    background-color: rgba(40, 40, 40, 0.8);
    outline: 2px;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.9);
  }

  .modalHeader{
    color: white;
    font-family: English;
    font-size: 28px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  .modalBody{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

  }

  .LangCard{
    width: 180px;
    height: 100px;
    background-color: rgb(65, 65, 65);
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-family: English;
    box-shadow: 0 3px 10px -10px #aaa;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .LangCard:hover{
    background-color: rgb(85, 85, 85);
    
  }

  .countdownModal{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 0px 60px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(40, 40, 40, 0.8);
    outline: 2px;
  }

  .countdownModalHeader{
    color: teal;
    font-family: English;
    font-size: 100px;
    letter-spacing: 0.75px;
    text-align: center;
  }

  .scoreModal{
    position: absolute;
    width: 80vw;
    height: 85vh;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(40, 40, 40, 0.8);
    outline: 2px;
  }

  .scoreModalHeader{
    color: white;
    font-family: English;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    margin: 30px;
  }

  .scoreModalBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .scoreModalLowerBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .scoreModalTiles:nth-child(1){
    background: linear-gradient(to left, rgb(0, 217, 255), rgb(0, 135, 224));
  }

  .scoreModalTiles:nth-child(2){
    background: linear-gradient(to left, rgb(212, 73, 31), rgb(250, 112, 0));
  }

  .scoreModalTiles:nth-child(3){
    background: linear-gradient(to right, rgb(12, 170, 59), rgb(0, 224, 119));
  }

  .scoreModalTiles:nth-child(4){
    background: linear-gradient(to left, rgb(216, 64, 216), rgb(245, 70, 99));
  }

  .scoreModalTiles{
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: English;
    margin: 0px 20px;
    align-items: flex-start;
    justify-content: center;
  }

  .scoreModalWPM{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: English;
    margin: 0px 25px;
    align-items: center;
    justify-content: center;
  }

  .scoreModalSmallText{
    margin: 0px;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 200;
  }

  .scoreModalBigText{
    margin: 0px;
    font-size: 24px;
  }

  .modalBodyGraph{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .scoreModalTilesWPM{
    padding: 20px;
    width: 25%;
    height: 85%;
    border-radius: 5px;
    background: linear-gradient(to right, #d1263a,  #d64832);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: English;
    align-items: center;
    justify-content: center;
  }

  .scoreModalWPMUpper{
    margin: 0px;
    font-size: 15px;
  }

  .scoreModalWPMLower{
    margin: 0px;
    margin-top: 15px;
    font-size: 72px;
  }

  .wpmIcon{
    width: 60px;
    height: 60px;
  }

  .modalGraph{
    width: 65%;
    position: relative;
  }

  .noDataText{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textColor);
}

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 269px;
    }
  }

  
@media(max-width: 800px){
  .scoreBox{
    transform: scale(0.75) translateX(-25%);
  }
}