@font-face{
    font-family: Nepali;
    src: url('../public/fonts/Deepmani.woff2') format("woff2");
    unicode-range: U+00-7F;
  }

@font-face {
    font-family: English;
    src: url('../public/fonts/Montserrat.woff2') format("woff2");
}

@font-face {
    font-family: Newari;
    src: url('../public/fonts/ranjana.ttf') format("truetype");
}

@font-face {
    font-family: Hindi;
    src: url('../public/fonts/Devlys.woff2') format("woff2");
}

.textContainer{
    width: 80%;
    margin: 25px;
}

.textRow{
    margin: 0;
    font-size:  var(--typeText);
    font-weight: 400;
    font-family: var(--lang);
    /* font-language-override: "TUR"; */
    letter-spacing: 1px;
}

.textRowBottom{
    margin: 0;
    margin-top: 6px;
    font-size:  var(--typeText);
    font-weight: 400;
    font-family: var(--lang);
    /* font-language-override: "TUR"; */
    letter-spacing: 1px;
    color: var(--remText);
    font-size: large;
}

#textCurrent{
    animation-name: cursorMove;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    color: var(--remText);
    transition-duration: 0.3s;
    padding-bottom: 3px;
}

.textRem{
    color: var(--remText);
    transition-duration: 0.3s;
}

.textCorrect{
    color: var(--textCorrect);
}

.textIncorrect{
    color: rgb(255, 60, 60);
}

@keyframes cursorMove{
    100%{
        text-decoration: none;
        /* background-color: black;
        color: white; */
    }

    40%{
        text-decoration: underline solid 2px;
        /* background-color: white;
        color: black; */
    }
}

@media(max-width: 800px){
    .textRow{
        transform: scale(0.75);
    }
  }