@font-face{
    font-family: Nepali;
    src: url('../public/fonts/Deepmani.woff2') format("truetype");
    unicode-range: U+00-7F;
  }

@font-face {
    font-family: English;
    src: url('../public/fonts/Montserrat.woff2') format("truetype");
}

@font-face {
    font-family: Newari;
    src: url('../public/fonts/ranjana.ttf') format("truetype");
}

@font-face {
    font-family: Hindi;
    src: url('../public/fonts/Deepmani.woff2') format("truetype");
  }

.textContainer{
    width: 80%;
    margin: 25px;
}

.textRow{
    margin: 0;
    font-size:  var(--typeText);
    font-weight: 400;
    font-family: var(--lang);
    letter-spacing: 1px;
}


#textCurrent{
    animation-name: cursorMove;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    color: var(--textColor);
    transition-duration: 0.3s;
}

.textRem{
    color: var(--textColor);
    transition-duration: 0.3s;
}

.textCorrect{
    color: rgb(9, 123, 199);
}

.textIncorrect{
    color: rgb(255, 60, 60);
}

@keyframes cursorMove{
    100%{
        text-decoration: none;
        /* background-color: black;
        color: white; */
    }

    40%{
        text-decoration: underline solid 2px;
        /* background-color: white;
        color: black; */
    }
}